:root {
    --white: #ffffff;
    --black: #000000;
    --brand-primary: #6125b9;
    --brand: #42B4EE;
    --border: #00d4ff;
    --circle: #faeaea;
    --circle-two: #faeaea;
    --circle-three: #e8f7f6;
    --circle-four: #f5e8f7;
    --paragraph: #51565E;
    --paragraph-one: #051114;







}