.feature {
    font-family: Inter;

    h2 {
        color: var(--Black);
        text-align: center;

        font-family: Inter;
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin: auto;
        width: 549px;

    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1141px;

        margin: 60px auto 0 auto;

        li {
            border-radius: 10px;
            background: var(--white);
            box-shadow: 0px 6px 50px 5px rgba(6, 14, 26, 0.05);

            height: 417px;
            margin: 0 30px 0 0;
            cursor: pointer;
            position: relative;
            transition: 0.9s ease all;
            border: 2px solid transparent;

            &:hover .vic {
                display: block;
            }

            &:hover p {
                color: #fff;
            }

            &:hover h3 {
                color: #fff;
            }

            &:hover .circle-text {
                margin-top: 20px;
            }



            &:hover {
                z-index: 1;
                transform: translateX(0)translateY(0)scaleX(1)scaleY(1)rotate(3deg)skewX(0deg)skewY(0deg);
     
            }
        }




        &:hover .icon-arrow-one {
            display: block;
        }

        &:hover .icon-arrow {
            display: none;
        }

        .vic {
            position: absolute;
            bottom: -5px;
            left: 0;
            display: none;
            overflow: hidden;
            width: 100%;

        }

        // &:hover {
        //     border: 2px solid var(--brand-primary);

        // }

        .circle-one {
            width: 150px;
            height: 150px;
            background: var(--circle);
            border-radius: 50%;
            text-align: center;
            margin: 40px 57px 21px 56px;

            img {
                padding: 31% 0;
            }
        }

        .circle-two {
            width: 150px;
            height: 150px;
            background: var(--circle-two);
            border-radius: 50%;
            text-align: center;
            margin: 40px 57px 21px 56px;

            img {
                padding: 35% 0;
            }
        }

        .circle-three {
            width: 150px;
            height: 150px;
            background: var(--circle-three);
            border-radius: 50%;
            text-align: center;
            margin: 40px 57px 21px 56px;

            img {
                padding: 34% 0;
            }
        }

        .circle-four {
            width: 150px;
            height: 150px;
            background: var(--circle-four);
            border-radius: 50%;
            text-align: center;
            margin: 40px 57px 21px 56px;

            img {
                padding: 31% 0;
            }
        }
    }

    .circle-text {
        z-index: 1;
        position: absolute;
        left: 10%;
        margin-top: 20px;


        h3 {
            color: var(--Black);
            text-align: center;

            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;

        }

        p {
            color: var(--paragraph);
            text-align: center;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            /* 22.4px */
            width: 213px;
            margin: auto;
            padding: 10px 0 20px 0;
        }

        .icon-arrow {
            text-align: center;

            cursor: pointer;
        }

        .icon-arrow-one {
            text-align: center;
            display: none;
            cursor: pointer;
        }

    }

    // .design-blue {
    //     position: absolute;
    //     content: "";
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     // display: none;
    //     z-index: 1;

    // }

    // &:hover .design-blue {
    //     display: block;
    // }
}
