.news {
    font-family: Inter;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1140px;
        height: 787px;
        margin: auto;

        li {
            overflow: hidden;
            cursor: pointer;

            .news-img {
                border: 3px solid transparent;
                transition: 0.9s ease all;
                border-radius: 10px;
                // transition: 0.3s;


                &:hover {
                    border: 3px solid var(--brand);
                    // transform: scale(1.05);
                    border-radius: 10px;
                }
            }

            img {
                display: block;
                width: 555px;
                height: 358px;
            }

        }

        .text-news {
            padding: 0 30px;

            .top-line {

                display: flex;
                align-items: center;
                padding: 30px 0 0 0;

                .team {
                    color: var(--paragraph);

                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
            
                }

                .date {
                    color: #060E1A;
                    padding: 0 60px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%;

                }

                .date-man {
                    color: #060E1A;
                   
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%;

                }
            }

            h3 {
                color: #060E1A;
                padding: 20px 0;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;

            }

            .lorem {
                color: #51565E;

                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                width: 339px;
                padding-bottom: 25px;

            }



            .display a {
                text-decoration: none;
                color: #fff;
                z-index: 9999;
                border-radius: 5px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;

                line-height: 160%;
                /* 32px */
            }

            .effect {
                --width: 100%;
                --time: 0.7s;

                position: relative;
                display: inline-block;

                padding: 15px 30px;
                z-index: 9999;

                color: var(--white);
                background: #2657a4;
                overflow: hidden;
            }


            .effect span {
                position: absolute;
                display: block;
                content: "";
                z-index: 0;
                width: 0;
                height: 0;

                border-radius: 100%;
                background: var(--brand);
                z-index: -1;
                transform: translate(-50%, -50%);
                transition: width var(--time), padding-top var(--time);
            }

            .effect:hover span {
                width: calc(var(--width) * 2.25);
                padding-top: calc(var(--width) * 2.25);
            }


        }

    }
}